#fotoPerfil{
    border: 10px solid rgba(121, 73, 41, 0.427);

}
body{
    display: flex;
    flex-direction: column; 
    align-items: center;  
    height: 100vh; 
    gap: 0px;
    margin: 0;
    background-color: rgba(244, 244, 197, 0.862);
}

img{
    width: 20%; 
    justify-content: center;
}
footer{
    background-color: rgb(115, 114, 114);
   width: 100%;
   text-align: center;
}
.Destacar{
    background-color: rgba(121, 73, 41, 0.427);
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h4 {
    background-color: rgba(0, 128, 0, 0.37);
}